<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.out</target>
      <encoder>
         <pattern>%d [%thread] %-5level %logger:%line -- %msg%n</pattern>
      </encoder>
   </appender>

   <logger name="org.eclipse.jgit" level="INFO" />

   <!-- Workaround for https://github.com/eclipse-jgit/jgit/issues/288: JGit reports at ERROR every
        write lost to another thread writing the same object, which RepositoryAccess retries. -->
   <logger name="org.eclipse.jgit.internal.storage.file.LooseObjects" level="OFF" />

   <root level="INFO">
     <appender-ref ref="STDOUT" />
   </root>
</configuration>
